mat-card {
  max-width: 1020px;
  margin: 10px;
  color: white;
}

.mat-mdc-card-title {
  font-size: 18px !important;
}

.article-desc {
  font-size: small;
  margin: 0;
}

.thumb-nail {
  background-size: cover;
}

.card-body {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.banner-image {
  object-fit: cover;
}

@media (min-width: 600px) {
  .banner-image {
    max-height: 150px;
    min-width: 300px;
    max-width: 300px;
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  h2 {
    margin-left: 5px;
  }

  mat-card {
    width: 95vw;
  }

  .card-body {
    flex-direction: column;
  }

  .banner-image {
    max-height: 20vh;
    max-width: 90vw;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
