.close-icon {
  float: right;
  transform: scale(0.8);
  color: #9c9ca4;
}

.close-icon:hover {
  cursor: pointer;
  color: #c4c6d0;
}

.messages {
  padding: 5px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 25px;
}

@media (min-width: 960px) {
  .messages {
    max-width: 40vw;
  }
}

.user-message-row {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  max-width: 65%;
  align-items: center;
}

.user-message-frame {
  align-self: flex-end;
  margin: 5px 15px 5px 5px;
  background: linear-gradient(117deg,rgba(178, 175, 229, 1) 0%, rgba(148, 14, 181, 0.84) 37%, rgba(65, 146, 204, 0.73) 72%, rgb(172,196,249) 90%);
  border-radius: 15px 15px 0 15px;
}

.repeat-button + .user-message-frame {
  background: linear-gradient(145deg,rgba(131, 58, 180, 0.75) 0%, rgba(161, 26, 55, 1) 54%, rgba(253, 29, 29, 1) 100%);
}

.bot-message, .user-message {
  border-radius: 15px;
  color: white;
  padding: 10px;
  text-wrap: wrap;
}

.bot-message {
  max-width: 65%;
  background-color: #9c72c5;
  margin: 15px;
  align-self: flex-start;
  border-bottom-left-radius: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.user-message {
  margin: 2px;
  width: auto;
  background-color: #201c1c;
  border-bottom-right-radius: 0;
}

mat-form-field {
  width: 100%;
  position: sticky;
  bottom: 0;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: white !important;
}
