<mat-icon class="close-icon" (click)="closeChat($event)">close</mat-icon>

<div class="messages" #messageContainer>
  <ng-container *ngFor="let message of chatMessages">
    <div [ngClass]="{'user-message-row': message.role == 'user'}">
      <ng-container *ngIf="message.role == 'user' && message.failed == true">
        <button class="repeat-button" mat-icon-button (click)="message.failed=false; sendMessage(message.text, input)">
          <mat-icon fontIcon="repeat"></mat-icon>
        </button>
      </ng-container>
      <div [ngClass]="{'user-message-frame': message.role == 'user'}">
        <div [ngClass]="{'bot-message': message.role === 'bot', 'user-message': message.role == 'user'}">
          <span innerHTML="{{message.text}}"></span>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="bot-message loader" *ngIf="isLoading">
    <mat-spinner color="white" diameter="18"></mat-spinner>
  </div>
</div>

<mat-form-field>
  <input matInput type="text" placeholder='{{"CHAT.INPUT_PLACEHOLDER" | translate}}'
         (keyup.enter)="sendMessage(input.value, input)" #input>
  <button matSuffix mat-icon-button
          [disabled]="isLoading"
          (click)="sendMessage(input.value, input)">
    <mat-icon>chevron_right</mat-icon>
  </button>
</mat-form-field>
