<div class="page">
  <div class="left">
    <div class="title" id="school-title">
      <p>&nbsp;</p>
      <h2>{{"TOOLBAR.SCHOOL" | translate}}</h2>
    </div>

    <div class="carousel-container">
      <app-carousel [highlightedItemIndex]="displayedSlide ? displayedSlide.index : -1"
                    [slides]="slides"
                    (carouselItemClicked)="displaySlideDetails($event)"
      ></app-carousel>
    </div>
  </div>

  <div class="right">
    <div class="img-container" *ngIf="displayedSlide">
      <img src="{{displayedSlide.img}}">
    </div>

    <div class="desc-container" *ngIf="displayedSlide">
      <div>
        <p>{{displayedSlide.period}} | {{displayedSlide.translateKey+'.TITLE' | translate}}</p>
        <small innerHtml="{{displayedSlide.translateKey+'.DESC' | translate}}"></small><br/>
      </div>
      <div class="button-row">
        <button mat-icon-button *ngIf="displayedSlide.index > 0" (click)="displaySlideDetails(displayedSlide.index-1)">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button *ngIf="displayedSlide.index < slides.length-1" (click)="displaySlideDetails(displayedSlide.index+1)" class="right-button">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
