.burger-button {
  color: white;
  background: #B2AFE5;
  background: linear-gradient(117deg,rgba(178, 175, 229, 0.38) 0%, rgba(148, 14, 181, 0.36) 37%, rgba(65, 146, 204, 0.56) 72%, rgba(18, 14, 14, 0.46) 90%);
  margin: 5px;
}

a:hover, a:visited, a:link, a:active {
  color: white;
  text-decoration: none;
}

.active {
  background: #918cde;
  background: linear-gradient(110deg, rgba(145, 140, 222, 1) 21%, rgba(65, 146, 204, 1) 40%, rgba(255, 255, 255, 1) 64%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

app-github-icon {
  display: inline-block;
  transform: translateY(5px);
}
