<ng-container *ngIf="!isMobile && !isSafari">
  <div  class="toolbar">
    <app-toolbar></app-toolbar>
  </div>
  <app-spline-animation></app-spline-animation>
</ng-container>

<p *ngIf="isSafari" class="safari-line">&nbsp;</p> <!-- TODO build a better intro for safari and phone-->

<div class="container">
  <div class="row">
    <app-burger-icon-navigator *ngIf="isMobile"></app-burger-icon-navigator>
    <app-tab-navigator *ngIf="!isMobile"></app-tab-navigator>

    <app-chat-button></app-chat-button>
  </div>


  <router-outlet></router-outlet>
</div>




