<mat-toolbar color="primary" class="mat-elevation-z8">
  <div class="top"></div>

  <div class="bottom">
    <button mat-icon-button [matMenuTriggerFor]="gh_menu">
      <app-github-icon></app-github-icon>
    </button>
    <mat-menu #gh_menu="matMenu" yPosition="above">
      <ng-container *ngFor="let account of ghAccounts">
        <button mat-menu-item class="gh-button">
          <a href="{{account.url}}" target="_blank">
          <img src="{{account.img}}">{{account.translateKey | translate}}</a>
        </button>
      </ng-container>
    </mat-menu>


    <button mat-icon-button aria-label="Language Settings" [matMenuTriggerFor]="language_menu">
      <mat-icon aria-hidden="false" fontIcon="language"></mat-icon>
    </button>
    <mat-menu #language_menu="matMenu" yPosition="above">
      <button mat-menu-item (click)="switchLanguage('en')">🇺🇸 {{"LANGUAGE.EN" | translate}}</button>
      <button mat-menu-item (click)="switchLanguage('de')">🇩🇪 {{"LANGUAGE.DE" | translate}}</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="contact_menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #contact_menu="matMenu" yPosition="above">
      <app-contact-buttons></app-contact-buttons>
    </mat-menu>
  </div>
</mat-toolbar>
