mat-card {
  margin: 95px 10px 10px;
  color: white;
}

.mat-mdc-card-title {
  font-size: 18px !important;
}

.mat-mdc-card-subtitle {
  font-size: 12px !important;
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date {
  white-space: nowrap;
  margin-right: 10px;
}

.badge-desc {
  font-size: small;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.banner-image {
  align-self: center;
  width: 150px;
  object-fit: cover;
  margin-right: 20px;
  transform: translateY(-50%);
}

mat-card-header, mat-card-content {
  transform: translateY(-75px);
}

.transparent-banner {
  background-color: white;
  border-radius: 50% !important;
}

.uncropped-banner {
  width: 300px;
}

@media (max-width: 600px) {
  h2 {
    margin-left: 5px;
  }

  mat-card {
    min-width: 95vw;
    max-width: 95vw;
  }

  .mat-mdc-card-subtitle {
    width: 85vw;
  }
}

@media (min-width: 600px) {
  mat-card {
    min-width: 500px;
    max-width: 500px;
  }
}

.unavailable-certs {
  line-height: 1.8;
}

.unavailable-certs a {
  color: white;
  background: linear-gradient(117deg,rgba(178, 175, 229, 1) 0%, rgba(148, 14, 181, 0.84) 37%, rgba(65, 146, 204, 0.73) 72%, rgba(18, 14, 14, 0.88) 90%);
  padding: 5px;
  border-radius: 15px;
  font-size: 14px;
  text-decoration: none;
  border: white 1px solid;
  margin: 2px;
}

.unavailable-certs a:hover {
  background: rgba(148, 14, 181, 0.84);
  border: transparent 1px solid;
}
