/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: black;
}

app-root {
  width: 100vw;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  background: #B2AFE5; }

h2, h3, h4 {
  color: white;
  font-family: "Times New Roman";
}

::selection {
  background-color: #4192ccb9;
  color: white;
}
